<div class="jumbotron <%=@api_color%>">
  <h1 class="display-4"><%=@final_result%></h1>
  <p class="lead"><%= @err_msg%></p>
  <hr class="my-4">
  <p><%= @api_description %></p>
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<%= @output %>