<!--Zipcode page area!

</br>

<%= @something %> value of the @something variable is posted in this section--> 

<div class="jumbotron <%=@api_color%>">
  <h1 class="display-4"><%=@final_result%></h1>
  <p class="lead"><%= @err_msg %><%= @message %> <%= @city %> <%= @statecode %> zipcode: <%= @something %>.</p>
  <hr class="my-4">
  <p><%= @api_description %></p>
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>